
.bg-orange {
    background-color: orange;
}

.btn-outline-warning {
    color: white;
    line-height: 1.5;
    border-radius: .3rem;
}
.cs-btn {
    border-color: white;
}

.link-white {
    color: white !important;
    font-size: 18px;
    font-weight: 500;
}

.plus-plus {
    width: 10px;
    height: 7px;
    margin-bottom: 4px;
}

.plus-plus-second {
    width: 10px;
    height: 7px;
    margin-bottom: 2px;
}

.not-sm {
    display: inline-block;
}

.logo {
    color: white !important;
    font-size: 15px;
}

.bold {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
}

.logo-div {
    margin-top: -5px;
    margin-bottom: -8px;
    margin-left: 45px !important;
}
.logo-mt-0 {
    margin-top: -6px !important;
}
.fill-screen {
    background-image: url('../images/HeaderBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.color-orange {
    color: orange;
}

.section-intro {
    background-color: #ffa50014;
}

.dev-sec-bg-img {
    width: 100%;
    background-image: url('../images/DevBgalt.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 705px;
}

.text-white {
    color: white;
}

.services-section {
    background-color: #ffa50014;
}

.color-light-orange {
    color: #ffa500ad;
}
.color-white {
    color: white;
}
.portfolio-section {
    width: 100%;
    background-image: url('../images/PortfolioBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 705px;
}

.btn-section {
    background-color: #f25c05;
}

.aboutus-section {
    width: 100%;
    background-image: url('../images/AboutUsBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.footer-section {
    background-color: #ffa500ad;
}

.color-black {
    color: black;
    text-decoration: underline;
}

/* For big screens */
@media(min-width: 992px) {
    .main-heading {
        padding-top: 125px;
        color: white;
        font-weight: 500;
    }
    .design-image-one {
        background-image: url('../images/DesignImage1.jpg');
        background-repeat: no-repeat;
        height: 600px;
    }
    .row-h-lg {
        height: 518px;
    }
    .card-image {
        width: 150px;
        
    }
}

/* For small screens */
@media(max-width: 993px)  
{
    .logo-div {
        margin-left: -10px !important;
    }
    .not-sm {
        display: none;
    }
    .main-heading {
        padding-top: 140px;
        color: white;
        font-size: 30px;
    }
    .bg-sm-dark {
        background-color: black;
        opacity: 0.7;
        color: white;
    }
    .fill-screen {
        height: 450px;
    }
    .design-image-one {
        background-image: url('../images/DesignImage1.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 300px;

    }
    .dev-sec-bg-img {
        height: 1503px;
    }
    .portfolio-section {
        height: 1440px;
    }
    .aboutus-section {
        height: 655px;
     }

}


